absl-py==1.3.0
aiofiles==0.8.0
ajsonrpc==1.2.0
alabaster==0.7.12
anyio==3.5.0
appdirs==1.4.4
asgiref==3.5.0
astroid==2.5
astunparse==1.6.3
Babel==2.9.1
bitstring==3.1.9
black==21.6b0
bottle==0.12.19
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Command==0.1.0
commonmark==0.9.1
coverage==5.0.3
crcmod==1.7
cryptography==35.0.0
cycler==0.10.0
distlib==0.3.4
dnspython==2.2.1
docutils==0.18.1
ecdsa==0.17.0
email-validator==1.1.3
esptool==3.1
fastapi==0.75.0
filelock==3.4.2
flake8==3.8.4
flatbuffers==22.10.26
future==0.18.2
gast==0.4.0
getkey==0.6.5
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.50.0
h11==0.13.0
h5py==3.7.0
hickle==5.0.2
httptools==0.2.0
idna==3.3
ifaddr==0.1.7
imageio==2.23.0
imagesize==1.3.0
importlib-metadata==5.0.0
intelhex==2.3.0
iso8601==1.1.0
isort==5.10.1
itsdangerous==2.1.1
Jinja2==3.0.3
joblib==1.1.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
libclang==14.0.6
lxml==4.6.3
Markdown==3.4.1
MarkupSafe==2.1.1
marshmallow==3.13.0
matplotlib==3.4.3
mccabe==0.6.1
multitasking==0.0.9
mypy-extensions==0.4.3
natsort==8.1.0
networkx==3.0
numpy==1.21.2
oauthlib==3.2.2
opt-einsum==3.3.0
orjson==3.6.7
packaging==21.3
pandas==1.3.3
pandas-datareader==0.10.0
pathspec==0.9.0
pep8==1.7.1
Pillow==8.4.0
pip-review==1.1.0
platformdirs==2.4.1
platformio==5.2.5
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.20
pydantic==1.9.0
pydocstyle==6.1.1
pyelftools==0.27
pyflakes==2.2.0
Pygments==2.11.2
PyGObject==3.42.2
pylinframe==2.0.0
pylint==2.6.0
pymelibuframe==0.5.1
pymlxabc==6.0.0
pymlxexceptions==0.5.0
pymlxhex==2.1.0
pyparsing==3.0.7
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
pytz==2021.3
PyWavelets==1.4.1
PyYAML==5.4.1
recommonmark==0.6.0
reedsolo==1.5.4
regex==2021.10.8
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
schedule==1.1.0
scheduler==0.8.0
scikit-image==0.19.3
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
semantic-version==2.9.0
serial==0.0.97
setuptools-scm==6.4.2
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==2.3.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.18
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.32
starlette==0.17.1
TA-Lib==0.4.21
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
threadpoolctl==3.0.0
tifffile==2022.10.10
toml==0.10.2
tomli==2.0.1
tradermade==0.5.0
typeguard==2.13.3
typing_extensions==4.1.1
ujson==4.3.0
urllib3==1.26.8
uvicorn==0.15.0
uvloop==0.16.0
virtualenv==20.13.0
watchgod==0.7
websockets==8.1
Werkzeug==2.2.2
wrapt==1.12.1
wsproto==1.0.0
yapf==0.31.0
yfinance==0.1.63
zeroconf==0.38.4
zipp==3.10.0
