cycler==0.11.0
fonttools==4.37.1
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.23.3
packaging==21.3
Pillow==9.2.0
protobuf==4.21.5
pycairo==1.21.0
PyGObject==3.42.2
pyparsing==3.0.9
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
pyserial==3.5
python-dateutil==2.8.2
six==1.16.0
